<%= render 'shared/flash_error_messages' %>

<div class="row">
  <% if user_signed_in? %>
    <%= form_with(model: Message.new) do |f| %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Введите сообщение</span>
        <%= f.text_field :body, class: 'form-control' %>
      </div>
      <br>
      <%= f.submit 'Отправить', class: 'btn btn-primary pull-right' %>
    <% end %>
  <% else %>
    <div class="btn-group">
      <%= link_to 'Войдите, чтобы оставить сообщение', new_user_session_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<br>
<div class="row">
  <% @messages.each do |message| %>
    <div class="list-group">
      <a href="#" class="list-group-item">
        <p class="list-group-item-text"><%= message.user.full_name %></p>
        <p class="list-group-item-text"><%= date_to_formatted(message.created_at) %></p>
        <h4 class="list-group-item-heading"><%= message.body %></h4>
      </a>
    </div>
  <% end %>
</div>